.navbar{
  background-color: #2C313A !important;
}
.logo {
  width: 80px;
  height: 80px;
  margin-left: 10rem;
}
.form-control {
  height: 4rem;
  width: 35rem;
}
.carrito {
  width: 80px;
  height: 80px;
  margin-right: 10rem;
  border-radius: 50px;
}
.d-flex {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 720px) {
  .form-control {
    width: 70%; 
    max-width: 200px; 
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
  }
  .logo {
    margin-left: 0rem;
  }
  .carrito {
    margin-right: 0rem;
  }
  .d-flex {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #botonSearch{
    display: none;
  }
}

.btn-outline-success{
  height: 4rem;
  color: antiquewhite;
  border-color: antiquewhite;
}

body{
  background-color: #1C1C1C;
}
.categorias{
  margin: 0 auto;
  width: 75%;
}

.categorias .d-block{
  height: 40rem;
  margin-top: 2rem;
}

h2{
  text-align: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #E2D58B;
}

h5 {
  text-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

#productos {
  margin: 0 auto;
  width: 75%;
}

.btn-danger{
  align-items: center;
  justify-content: center;
}

.footer{    
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2C313A;
}

.footer1 {
padding-bottom: 2rem;
display: flex;
margin: 0 auto;
width: 60%;
justify-content: center;
align-items: center;
border-bottom: 1px solid gray;
}

.logoFooter {
  height: 100px;
  width: 300px;
}
.footer2 {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
}
h3 {
  color: white;
  text-align: center;
}
p {
  text-align: center;
  color: gray;
  font-family:'Open Sans', sans-serif; 
}

.card {
  opacity: 90%;
  height: 550px;
  box-shadow: 0px 1px 10px gray;
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 20px white;
  transform: translateY(-3%);
}

.tituloCarrousel{
  color: #E2D58B;
  font-size: 2rem;
  text-shadow: 1px 1px 5px gray;
}

.card-img-top {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}

.colorComprar{
  background-color: #E2D58B;
}

.btn-buscar {
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
}

